#main section {
  width: 60%;
  margin: 0 auto;
}

#main section + section {
  margin-top: 20px;
}

#main section h2 {
  margin-bottom: 4px;
  text-align: left;
}

#main section button {
  width: 100%;
}

#main section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main section .box input, #main section .box select {
  width: calc(100% - 220px);
}

#main section .box button {
  width: 200px;
}

#main section textarea {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

#addItem, #addData,
#updateItem, #updateData {
  width: calc(50% - 120px) !important;
}
