#container p {
  margin-bottom: 100px;
}

#container p span {
  display: inline-block;
  margin-left: 20px;
  vertical-align: baseline;
}

#container .target {
  -webkit-transition: 400ms all;
  transition: 400ms all;
}

#container .target span {
  -webkit-transition: 400ms all;
  transition: 400ms all;
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

#container .target.action {
  color: #fe7404;
}

#container .target.action span {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
