#loading {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #445555;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 400ms all;
  transition: 400ms all;
}

#loading.active {
  opacity: 1;
}

#video {
  position: relative;
  width: 60%;
  margin: 0 auto 1em;
}

#video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c0c0c0;
  pointer-events: none;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 0;
  z-index: 1;
}

#video video.standby {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  -webkit-transition-duration: 0ms !important;
          transition-duration: 0ms !important;
}

#video video.show {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

#video video.block {
  visibility: visible;
  opacity: 1;
  -webkit-transition-duration: 0ms !important;
          transition-duration: 0ms !important;
}

#video video.hide {
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}

#mainVideos,
#subVideos {
  width: 100%;
  padding-top: 56.25%;
  background: #fff;
}

#mainVideos {
  z-index: 2;
  opacity: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
  visibility: visible;
}

#mainVideos.hide {
  opacity: 0 !important;
  -webkit-transition: 1.6s all;
  transition: 1.6s all;
  visibility: hidden;
}

#subVideos {
  z-index: 1;
}

#videoLoading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.33333vw;
  margin-top: -3.33333vw;
  z-index: 10;
  width: 6.66667vw;
  height: auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 400ms all;
  transition: 400ms all;
}

#videoLoading.active {
  opacity: 1;
  -webkit-animation: circle 2s linear infinite;
          animation: circle 2s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

nav button.disabled {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.4;
  cursor: default;
}
